# Предварительные условия
*.d

# Объектные файлы
*.o
*.ко
*.возражение
*.эльф

# Вывод компоновщика
*.ilk
*.карта
*.exp

# Предварительно Скомпилированные заголовки
*.gch
*.pch

# Библиотеки
*.lib
*.a
*.la
*.lo

# Общие объекты (вкл. Библиотеки DLL Windows)
*.dll
*.итак
*.итак.*
*.dylib

# Исполняемые файлы
*.exe
*.выход
*.приложение
*.i*86
*.x86_64
*.шестигранник

# Отладочные файлы
*.dSYM/
*.su
*.ибр
*.pdb

# Результаты компиляции Модуля Ядра
*.мод*
*.cmd
.tmp_versions/
модули.заказ
Модуль.символы
Mkfile.старый
dkms.conf
